{% extends 'MainBundle::layout.html.twig' %}

{% set section = 'examples' %}

{% block content %}
    <div class="row">
        <div class="span12">
            <h2>Ciudades aleatorias en {{ country.name }}</h2>
            <ul>
                {% for city in cities %}
                    <li>{{ city.name }}, {{ city.province.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% set code = code(_self) %}
{% set article_link = 'http://showmethecode.es/php/doctrine2/doctrine2-ordenar-aleatoriamente/' %}
