{% extends 'MainBundle::layout.html.twig' %}

{% set section = 'examples' %}

{% block content %}
    <div class="row">
        <div class="span12">
            <h2>Ver ciudades aleatoriamente en</h2>
            <ul>
                {% for country in countries %}
                    <li><a href="{{ path('examples_random_order_country', {'slug': country.slug}) }}">{{ country.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% set code = code(_self) %}
{% set article_link = 'http://showmethecode.es/php/doctrine2/doctrine2-ordenar-aleatoriamente/' %}
