{% extends 'MainBundle::layout.html.twig' %}

{% import 'MainBundle:Macros:breadcrumb.html.twig' as breadcrumb %}

{% set section = 'examples' %}

{% block breadcrumb %}
{{ breadcrumb.show_example('Doctrine2: Ordenar aleatoriamente') }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Ver ciudades aleatoriamente en</h2>
            <ul class="list-group">
                {% for country in countries %}
                    <li class="list-group-item"><a href="{{ path('examples_query_random_order_country', {'slug': country.slug}) }}">{{ country.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% set code = code(_self) %}
{% set article_link = 'http://showmethecode.es/php/doctrine2/doctrine2-ordenar-aleatoriamente/' %}
