{% extends 'MainBundle::layout.html.twig' %}

{% set section = 'examples' %}

{% block content %}
    <div class="row">
        <div class="span12">
            <ul>
                <li><a href="{{ path('examples_dependent_selects') }}">Selects dependientes</a></li>
                <li><a href="{{ path('examples_userpassword') }}">UserPassword Constraint</a></li>
                <li><a href="{{ path('examples_impersonating') }}">Impersonating</a></li>
                <li><a href="{{ path('examples_responses') }}">Tipos de respuesta</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% set code = code(_self) %}
