{% extends 'MainBundle::layout.html.twig' %}

{% set section = 'examples' %}

{% block content %}
    <div class="row">
        <div class="span12">
            <p>Soy {{ app.user.username }}</p>
            <ul>
            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <li><a href="{{ path('examples_impersonating', {'_change_to': '_exit'}) }}">Salir impersonating</a></li>
            {% else %}
                <li><a href="{{ path('examples_impersonating', {'_change_to': 'user'}) }}">Cambiar a User</a></li>
                <li><a href="{{ path('examples_impersonating', {'_change_to': 'admin'}) }}">Cambiar a Admin</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% set code = code(_self) %}