{% extends 'MainBundle::layout.html.twig' %}

{% set section = 'examples' %}

{% block user_info %}
<div class="pull-right">
    <ul class="nav pull-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }}</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <form action="{{ path('examples_userpassword') }}" method="POST" novalidate>
                {{ form_row(form.oldPassword) }}
                {{ form_rest(form) }}
                <button type="submit" class="btn btn-success">
                    Guardar
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% set code = code(_self) %}
