{% extends 'MainBundle::layout.html.twig' %}

{% block content %}
    <div class="hero-unit">
        <h1>Talk is cheap. Show me the code!</h1>
        <p>En esta página veremos en funcionamiento los ejemplos que se pueden ver en el blog relacionados con Symfony2 y enlazaremos con el código en Github.</p>
        <p><a href="http://showmethecode.es" class="btn btn-primary btn-large">Ir al Blog &raquo;</a></p>
    </div>
{% endblock %}

{% set code = code(_self) %}
