{% extends 'MainBundle::layout.html.twig' %}

{% set section = 'examples' %}

{% block content %}
    <div class="row">
        <div class="span12">
            <ul>
                <li><a href="{{ path('examples_events_comment') }}">Añadir IP al comentario</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% set code = code(_self) %}
{% set article_link = 'http://showmethecode.es/php/symfony/symfony2-custom-events/' %}