{% extends 'form_div_layout.html.twig' %}

{% block form_widget_simple %}
{% spaceless %}
    {{ parent() }}
    {% if help is defined and help is not empty %}
        <p class="help-block">{{ help }}</p>
    {% endif %}
{% endspaceless %}
{% endblock form_widget_simple %}
